@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Open+Sans&family=Passion+One:wght@400;700&display=swap");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  min-height: 100vh;
  color: #fff;
  background-color: #000;
  font-family: "Gloria Hallelujah", sans-serif;
}
body.active {
  overflow: hidden;
}

#particles {
  position: relative;
  z-index: 1;
}
#particles canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  width: 100%;
  max-width: 1414px;
  padding: 0;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

img {
  max-width: 100%;
}

.headline {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  text-align: left;
  line-height: 120%;
  margin: 0 0 60px 0;
}

.textline {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  opacity: 0.95;
  margin: 0 0 40px 0;
}

.subheading {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Passion One", sans-serif;
}

a,
button {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
  background-color: transparent;
}
a:active,
button:active {
  -webkit-transform: scale(0.98);
     -moz-transform: scale(0.98);
      -ms-transform: scale(0.98);
       -o-transform: scale(0.98);
          transform: scale(0.98);
}
a:hover,
button:hover {
  opacity: 0.8;
}

section {
  position: relative;
}

.logo {
  max-width: 230px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: 15px 20px;
  background-color: #51CBE6;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  min-width: 200px;
  -webkit-box-shadow: 0 0 20px -5px #003fd4;
     -moz-box-shadow: 0 0 20px -5px #003fd4;
          box-shadow: 0 0 20px -5px #003fd4;
}
.btn span {
  display: block;
  opacity: 0.5;
}
.btn-menu {
  display: none;
}
.btn:hover {
  opacity: 1;
  -webkit-box-shadow: 0 4px 40px 0px rgba(0, 63, 212, 0.8);
     -moz-box-shadow: 0 4px 40px 0px rgba(0, 63, 212, 0.8);
          box-shadow: 0 4px 40px 0px rgba(0, 63, 212, 0.8);
}
.btn:active {
  opacity: 1;
  -webkit-transform: scale(0.95);
     -moz-transform: scale(0.95);
      -ms-transform: scale(0.95);
       -o-transform: scale(0.95);
          transform: scale(0.95);
}
.btn[disabled] {
  color: rgba(0, 0, 0, 0.2);
  background-color: rgba(81, 203, 230, 0.3);
  cursor: unset;
  -webkit-animation: none;
     -moz-animation: none;
       -o-animation: none;
          animation: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.btn-link {
  padding-right: 28px;
  background-image: url("../img/arrow_next.svg");
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-background-size: 24px 24px;
     -moz-background-size: 24px 24px;
       -o-background-size: 24px 24px;
          background-size: 24px 24px;
}
.btn-link:hover {
  color: #51CBE6;
  opacity: 1;
}
.btn-second {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.btn-second:hover {
  opacity: 1;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  background-color: #51CBE6;
  border-color: #51CBE6;
}

.wrapper, .slider, .wrap, .wrap-strech, .wrap-start, .box-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.wrap-strech {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.wrap-start {
  -webkit-box-align: start;
  -webkit-align-items: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.wrap.around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.wrap.evenly {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

ol {
  padding: 0 0 0 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

input,
textarea,
select {
  resize: none;
  display: block;
  width: 100%;
  max-width: 400px;
  height: 50px;
  background: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  padding: 0 20px;
  text-align: left;
  color: #000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-bottom: 20px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
input:-moz-placeholder, textarea:-moz-placeholder, select:-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
input::placeholder,
textarea::placeholder,
select::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

label {
  color: #000;
  display: block;
}

select {
  cursor: pointer;
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 13px;
  -webkit-background-size: 14px 14px;
     -moz-background-size: 14px 14px;
       -o-background-size: 14px 14px;
          background-size: 14px 14px;
  padding-right: 30px;
  position: relative;
  z-index: 1;
  margin: 0;
}

textarea {
  height: 116px;
  padding-top: 18px;
}

ul {
  list-style-type: none;
}
ul li {
  font-weight: 300;
  font-size: 20px;
  line-height: 125%;
  padding-left: 30px;
  margin: 0 0 20px;
  position: relative;
}
ul li::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 14px;
  width: 2px;
  height: 2px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
}
ul.dont strong, ul.do strong {
  font-size: 22px;
  display: block;
  margin-bottom: 6px;
}
ul.dont li, ul.do li {
  font-size: 17px;
  padding-left: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-image: url("../img/wrong.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 34px 34px;
     -moz-background-size: 34px 34px;
       -o-background-size: 34px 34px;
          background-size: 34px 34px;
  background-position: left top 5px;
}
ul.dont li::before, ul.do li::before {
  display: none;
}
ul.do li {
  background-image: url("../img/check.svg");
  -webkit-background-size: 38px 38px;
     -moz-background-size: 38px 38px;
       -o-background-size: 38px 38px;
          background-size: 38px 38px;
}

.headline {
  font-family: "Passion One", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 96px;
  line-height: 106px;
  margin: 0;
}

.subheadline {
  font-family: "Gloria Hallelujah";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 127px;
  color: #51CBE6;
  position: relative;
  top: -70px;
  text-align: center;
  margin: 0;
}

.textline {
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
  color: #FFFFFF;
}

.dropdown {
  list-style: none;
}
.dropdown .heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 71px;
  background-color: #2E2F56;
  padding: 20px 49px;
  -webkit-border-radius: 19px;
     -moz-border-radius: 19px;
          border-radius: 19px;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.dropdown .heading::after {
  content: "READ";
  font-weight: 400;
  display: inline-block;
  padding: 13px 34px 10px;
  font-size: 24px;
  line-height: 130%;
  border: 3px solid #FFFFFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  position: absolute;
  z-index: -1;
  top: 25px;
  right: 44px;
}
.dropdown .content {
  margin-top: 28px;
  display: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  background-color: #2E2F56;
  -webkit-border-radius: 19px;
     -moz-border-radius: 19px;
          border-radius: 19px;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  padding: 45px 40px;
}
.dropdown li {
  padding: 0;
  margin: 0 0 28px 0;
  display: block;
  -webkit-border-radius: 19px;
     -moz-border-radius: 19px;
          border-radius: 19px;
  position: relative;
  z-index: 1;
}
.dropdown li:last-of-type {
  margin-bottom: 0;
}
.dropdown li img {
  position: absolute;
  left: -55px;
  top: -20px;
  z-index: 10;
}
.dropdown li::before {
  display: none;
}
.dropdown li.active .heading::after {
  content: "X";
  top: 14px;
  font-size: 50px;
  border: none;
}

ol.dropdown li {
  padding: 0;
  margin: 0 0 45px 0;
  background-color: #6667AB;
}
ol.dropdown li.active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25.5%, #6667AB), color-stop(84.43%, #452C7B));
  background: -webkit-linear-gradient(top, #6667AB 25.5%, #452C7B 84.43%);
  background: -moz-linear-gradient(top, #6667AB 25.5%, #452C7B 84.43%);
  background: -o-linear-gradient(top, #6667AB 25.5%, #452C7B 84.43%);
  background: linear-gradient(180deg, #6667AB 25.5%, #452C7B 84.43%);
}
ol.dropdown li::after {
  font-size: 28px;
  padding: 15px 36px 12px;
}
ol.dropdown li::before {
  content: "01";
  display: inline-block;
  font-weight: 400;
  font-size: 64px;
  position: absolute;
  top: 44px;
  left: 67px;
  z-index: 100;
}
ol.dropdown li .heading {
  font-weight: 400;
  font-size: 40px;
  padding: 20px 170px;
  background-color: transparent;
  line-height: 79px;
}
ol.dropdown li .content {
  background-color: transparent;
  margin: 0;
  padding: 0 170px 55px;
}

.cover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#6667AB));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #6667AB 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #6667AB 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #6667AB 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #6667AB 100%);
  -webkit-border-radius: 112px;
     -moz-border-radius: 112px;
          border-radius: 112px;
}

@media screen and (max-width: 1500px) {
  .container {
    max-width: 1200px;
  }
}
header .nav,
header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  display: inline-block;
  max-width: 196px;
}
header .nav-link {
  font-family: "Passion One", sans-serif;
  display: inline-block;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  padding: 25px 20px;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
header .nav-link:hover, header .nav-link.active {
  opacity: 1;
  color: #51CBE6;
}
header .nav-socials {
  margin-left: 52px;
}
header .nav-social {
  padding: 8px;
  display: inline-block;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  vertical-align: middle;
}
header .nav-social img {
  display: block;
  max-width: 42px;
  margin: 0;
}
header .nav-social:hover {
  opacity: 1;
  background-color: #51CBE6;
}
header .nav .btn,
header .nav .phone {
  display: none;
}
@media screen and (max-width: 1500px) {
  header .nav-link {
    font-size: 30px;
  }
}
@media screen and (max-width: 1200px) {
  header .actions {
    margin: 0 0 0 auto;
  }
  header .btn {
    margin: 0 20px 0 0;
  }
  header .btn-menu {
    margin-top: 12px;
  }
  header .logo {
    max-width: 180px;
    margin: 0;
  }
  header .phone {
    margin-right: 20px;
    font-size: 14px;
  }
  header .phone i {
    font-size: 13px;
  }
  header .nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    height: 120%;
    width: 100%;
    display: block;
    margin: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-transform: translateX(-100px);
       -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
         -o-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: scroll;
    background-color: #000;
    padding: 40px 0 60px;
  }
  header .nav-link {
    font-weight: 600;
    padding: 10px 40px;
    max-width: 330px;
    margin: 0;
    text-align: left;
  }
  header .nav.active {
    -webkit-transform: translateX(0px);
       -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
         -o-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
  header .nav .btn {
    display: inline-block;
    margin: 25px 40px;
  }
  header .nav .phone,
header .nav .phone i {
    display: block;
  }
}
@media screen and (max-width: 700px) {
  header {
    padding: 18px 0;
  }
  header .container {
    min-height: 52px;
  }
  header .logo {
    max-width: 140px;
  }
  header .btn {
    display: none;
  }
  header .actions {
    padding-top: 2px;
    display: block;
    margin-right: 20px;
  }
  header .phone {
    margin: 2px 0;
    display: block;
    padding: 0;
  }
  header .phone i {
    display: none;
  }
  header .nav {
    max-width: 310px;
  }
  header .nav::before {
    max-width: 310px;
  }
  header .nav-link {
    padding: 8px 30px;
  }
  header .nav .btn {
    margin-top: 10px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 350px) {
  header .actions {
    display: none;
  }
}

footer {
  font-family: "Gloria Hallelujah";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 130%;
  color: #51CBE6;
  text-align: center;
  padding: 80px 0 40px;
}
footer a {
  color: #51CBE6;
}
footer p {
  padding: 20px 0;
}
footer .soc {
  padding: 40px 100px;
}
footer .policy {
  font-weight: 400;
  font-size: 36px;
  line-height: 71px;
}

.hero {
  text-align: center;
}
.hero img {
  max-width: 2000px;
  width: 100%;
}

.moon {
  padding: 90px 0 200px;
  background-image: url("../img/moon.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  -webkit-background-size: 90% auto;
     -moz-background-size: 90% auto;
       -o-background-size: 90% auto;
          background-size: 90% auto;
}
.moon .headline,
.moon .subheadline {
  text-align: left;
}
.moon .container {
  min-height: 40vh;
}
.moon-img {
  position: relative;
  margin-bottom: 40px;
}
.moon-img::before {
  content: "";
  display: block;
  width: 1040px;
  height: 1040px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-transform: translate(-51%, -51%);
     -moz-transform: translate(-51%, -51%);
      -ms-transform: translate(-51%, -51%);
       -o-transform: translate(-51%, -51%);
          transform: translate(-51%, -51%);
  z-index: -1;
  background-color: rgba(102, 103, 171, 0.6);
  -webkit-filter: blur(140px);
          filter: blur(140px);
}

.swiper-wrapper {
  padding: 200px 0;
}
.swiper-slide {
  width: 930px;
  height: 429px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6667AB), to(#51CBE6));
  background: -webkit-linear-gradient(top, #6667AB 0%, #51CBE6 100%);
  background: -moz-linear-gradient(top, #6667AB 0%, #51CBE6 100%);
  background: -o-linear-gradient(top, #6667AB 0%, #51CBE6 100%);
  background: linear-gradient(180deg, #6667AB 0%, #51CBE6 100%);
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  text-align: center;
  display: block;
  max-width: 90%;
  max-height: 90%;
}
.chill {
  position: relative;
  text-align: center;
}
.chill__heading {
  font-weight: 700;
  font-size: 358px;
  line-height: 88.24%;
  text-align: center;
  z-index: 100;
  letter-spacing: 0.035em;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 1440px;
}
.chill__text {
  font-size: 40px;
  line-height: 58px;
  max-width: 915px;
  margin: 0 auto 150px;
  text-align: center;
}

.marquee {
  padding: 30px 0;
  text-align: center;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.marquee-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: scroll 100s linear infinite;
     -moz-animation: scroll 100s linear infinite;
       -o-animation: scroll 100s linear infinite;
          animation: scroll 100s linear infinite;
  overflow: hidden;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.marquee-content.reverce {
  animation: scroll 90s linear infinite reverse;
}
.marquee:hover .marquee-content {
  -webkit-animation-play-state: paused;
     -moz-animation-play-state: paused;
       -o-animation-play-state: paused;
          animation-play-state: paused;
}
.marquee li {
  margin: 0 40px;
}
.marquee li img {
  width: 472px;
  height: 472px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 40px;
     -moz-border-radius: 40px;
          border-radius: 40px;
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-moz-keyframes scroll {
  from {
    -moz-transform: translateX(0);
         transform: translateX(0);
  }
  to {
    -moz-transform: translateX(-100%);
         transform: translateX(-100%);
  }
}

@-o-keyframes scroll {
  from {
    -o-transform: translateX(0);
       transform: translateX(0);
  }
  to {
    -o-transform: translateX(-100%);
       transform: translateX(-100%);
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.roadmap {
  padding: 140px 0 0;
}

.team {
  background-color: #000;
  padding: 56px 80px;
  max-width: 1170px;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  margin: 0 auto;
  position: relative;
}
.team::before {
  position: absolute;
  top: -50px;
  right: -120px;
  content: "";
  display: inline-block;
  width: 188px;
  height: 274px;
  background-image: url("../img/shape.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
}
.team-item {
  text-align: center;
  margin-bottom: 43px;
}
.team-item img {
  width: 259px;
  height: 258px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 40px;
     -moz-border-radius: 40px;
          border-radius: 40px;
  display: block;
  margin-bottom: 10px;
}
.team-item .name {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #51CBE6;
}
.team-item .text {
  font-family: "Passion One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
}

.faq {
  background-image: url("../img/girl-2.webp");
  background-repeat: no-repeat;
  background-position: left 10% bottom;
  -webkit-background-size: 43% auto;
     -moz-background-size: 43% auto;
       -o-background-size: 43% auto;
          background-size: 43% auto;
  padding: 180px 0 120px;
}
.faq__img {
  max-width: 45%;
}
.faq-title {
  width: 60%;
  max-width: 720px;
  margin: 0 0 0 auto;
}
.faq__heading {
  font-family: "Gloria Hallelujah", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.faq .dropdown {
  max-height: 540px;
  padding-right: 15px;
  overflow-y: scroll;
}
.faq .dropdown::-webkit-scrollbar {
  width: 19px;
}
.faq .dropdown::-webkit-scrollbar-track {
  background-color: #fff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
.faq .dropdown::-webkit-scrollbar-thumb {
  background-color: #2E2F56;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}/*# sourceMappingURL=style.css.map */